//- variable con los tipos de elementos en una lista
//- todavia queda implementar mas elementos
//- creamos la variable porque la podremos consultar mas adelante en otros sitios
-
    const listado_tipoelementos = 
    {
        "img": "img",
        "titulo": "titulo",
        "parrafo": "parrafo",
        "boton": "boton",

    };

//- mixin donde generamos la lista ul
//- el for comprueba el tipo contra un objecto
//- llamada ejemplo: 
//- +mostrarlistado_tabla(datasite["listadomain"]["elementos"], prefixbem_ul)
mixin mostrarlistado_tabla(elementos, prefixbem_ul)
    //- mostramos segun el tipo de elemento que contiene la lista
    ul(class=prefixbem_ul)
        each elemento in elementos
            case elemento["tipo"]
                when listado_tipoelementos.img
                    li(class=elemento["liclassname"])
                        img(class=elemento["classname"], src=elemento["img"], alt=elemento["alt"])

                when listado_tipoelementos.titulo
                    li(class=elemento["liclassname"])
                        h1(class=elemento["classname"]) #{elemento["displayName"]}

                when listado_tipoelementos.parrafo
                    li(class=elemento["liclassname"])
                        p(class=elemento["classname"])
                            | #{elemento["displayName"]}

                when listado_tipoelementos.boton
                    li(class=elemento["liclassname"])
                        button(class=elemento["classname"])
                            | #{elemento["displayName"]}
