mixin showseogeneral(objeto, currentpage)
    // Seo basico
    if currentpage
        if objeto[currentpage]
            //- en el caso de que no sea null o undefined
            meta(name="description", content=objeto[currentpage]["description"])
            meta(name="keywords", content=objeto[currentpage]["keywords"])
        else
            //- en el caso de que haya algun error o algo
            meta(name="description", content=datasite["site"]["meta"]["description-general"])
            meta(name="keywords", content=datasite["site"]["meta"]["keywords-general"])
    else
        //- en el caso de que no nos pasen un pagina current, ponemos una descripcion general
        meta(name="description", content=datasite["site"]["meta"]["description-general"])
        meta(name="keywords", content=datasite["site"]["meta"]["keywords-general"])

